:root{
    --colorback: #F5EFD0
}

.bg-colorback {
    /* background: var(--colorback) */
    background-image: url("../bg_main/fondo 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}
