.mod3 {
    background-image: url('../bg_modules/fondoModulo3.png');
}

.modulo3 {
    border: 1px solid #fece49 !important;
    min-height: 70vh;
    max-height: 70vh;

    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: small;

    border-radius: 20px;
}

.titulosMod3 {
    margin-bottom: 2px;
    color: #fece49;
}

.w-70 {
    width: 70%;
}
